@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br />
    <h6>This is my first Web app with ASP.NET Core.</h6>
    <h6>I hope you enjoy!</h6>
</div>

<div align="center">  
    <div class="table_center">
        <div class="drop-down">
            <div id="dropDown" class="drop-down__button">
                <span class="drop-down__name">Click here!</span>
            </div>         
            <div class="drop-down__menu-box">
                <ul class="drop-down__menu">
                    <li class="drop-down__item"><a href=users>Users</a></li>
                    <li class="drop-down__item"><a href=albums>Albums</a></li>
                    <li class="drop-down__item"><a href=photos>Photos</a><li>
                </ul>
            </div>
        </div>
    </div>
</div>
